In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2020-12-01 03:53:55,-46.60,168.33,63.00,48,50,5.01
1,1,Mamallapuram,IN,2020-12-01 03:53:55,12.63,80.17,80.60,83,75,5.82
2,2,Vaini,TO,2020-12-01 03:53:55,-21.20,-175.20,82.40,69,20,6.93
3,3,Pemangkat,ID,2020-12-01 03:50:47,1.17,108.97,84.16,67,91,4.63
4,4,Kaitangata,NZ,2020-12-01 03:53:55,-46.28,169.85,57.00,58,25,8.99

In [15]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mamallapuram,IN,2020-12-01 03:53:55,12.63,80.17,80.60,83,75,5.82
2,2,Vaini,TO,2020-12-01 03:53:55,-21.20,-175.20,82.40,69,20,6.93
3,3,Pemangkat,ID,2020-12-01 03:50:47,1.17,108.97,84.16,67,91,4.63
7,7,Rikitea,PF,2020-12-01 03:53:55,-23.12,-134.97,75.88,75,39,9.26
8,8,Vila Velha,BR,2020-12-01 03:53:55,-20.33,-40.29,75.20,83,0,8.05
11,11,Salalah,OM,2020-12-01 03:53:56,17.02,54.09,75.20,78,75,3.36
21,21,Morondava,MG,2020-12-01 03:53:57,-20.28,44.28,80.94,72,0,5.03
25,25,Souillac,MU,2020-12-01 03:53:57,-20.52,57.52,78.80,78,75,16.11
31,31,Hobart,AU,2020-12-01 03:52:13,-42.88,147.33,77.00,36,100,24.16
32,32,Maragogi,BR,2020-12-01 03:50:04,-9.01,-35.22,75.25,79,12,4.45

In [24]:
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1   Mamallapuram      IN     80.60  12.63   80.17
2          Vaini      TO     82.40 -21.20 -175.20
3      Pemangkat      ID     84.16   1.17  108.97
7        Rikitea      PF     75.88 -23.12 -134.97
8     Vila Velha      BR     75.20 -20.33  -40.29
11       Salalah      OM     75.20  17.02   54.09
21     Morondava      MG     80.94 -20.28   44.28
25      Souillac      MU     78.80 -20.52   57.52
31        Hobart      AU     77.00 -42.88  147.33
32      Maragogi      BR     75.25  -9.01  -35.22

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mamallapuram,IN,80.60,12.63,80.17,Radisson Blu Resort Temple Bay Mamallapuram
2,Vaini,TO,82.40,-21.20,-175.20,Keleti Beach Resort
3,Pemangkat,ID,84.16,1.17,108.97,Kost H.Syamsuddin
7,Rikitea,PF,75.88,-23.12,-134.97,Pension Maro'i
8,Vila Velha,BR,75.20,-20.33,-40.29,Hotel Vitória Palace
...,...,...,...,...,...,...
554,Makakilo City,US,78.80,21.35,-158.09,Marriott's Ko Olina Beach Club
555,Cabedelo,BR,75.20,-6.98,-34.83,Lua Mansa Pousada
557,Port Moresby,PG,89.60,-9.44,147.18,Lamana Hotel
558,Dan Khun Thot,TH,79.00,15.21,101.77,Sai Thong Hotel
560,Cayenne,GF,75.20,4.93,-52.33,Hôtel Le Dronmi

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))